@page
@model Home_Page.Pages.Index2Model
@{
    ViewData["Title"] = "WomenApparel page";
    Layout = "WAILayout";

}

<body>
    <div style="background-color: lightpink;">
        <div id="header">
            <h1><Strong>Women-</Strong><strong>Apparels</strong></h1>
        </div>

        <div style="position: absolute; top: 8px; right: 16px; font-size: 18px;">

            <a href="http://www.freewebsitetemplates.com">Cart</a> | <a href="http://www.freewebsitetemplates.com">Login</a>

        </div>
    </div><br />
    <br />
    <br />
    <div class="row" style="position: absolute; margin-left:50px;">
        <div class="container">
            <h2><em>Top</em> Wear</h2>
            <br /><div class="image">
                <p><img src="Images\WAI1.jpg" width="300" height="300" alt="Pic 1" /></p>
            </div>
            <div class:"text">
                <p>
                    <h2>
                        This is a denim jacket with detachable tshirt inside. Made with jean colth and cotton.
                        <br />
                        <strong>Price :</strong> 2000Rs
                    </h2>
                    <div class="dropdown">
                        <button class="dropbtn">Quantity</button>
                        <div class="dropdown-content">
                            <a href="#"> 1</a>
                            <a href="#"> 2</a>
                            <a href="#"> 3</a>
                            <a href="#"> 4</a>
                            <a href="#"> 5</a>
                            <a href="#"> 6</a>
                            <a href="#"> 7</a>
                            <a href="#"> 8</a>
                            <a href="#"> 9</a>
                            <a href="#"> 10</a>
                        </div>
                    </div>
                </p>
            </div>
        </div>

        <div class="container">
            <h2><em>Bottom</em> Wear</h2>
            <br /><div class="image">
                <p><img src="Images\WAI2.jpg" width="300" height="300" alt="Pic 1" /></p>
            </div>
            <div class:"text">
                <p>
                    <h2>
                        This is a denim jacket with detachable tshirt inside. Made with jean colth and cotton.
                        <br />
                        <strong>Price :</strong> 2000Rs
                    </h2>
                    <div class="dropdown">
                        <button class="dropbtn">Quantity</button>
                        <div class="dropdown-content">
                            <a href="#"> 1</a>
                            <a href="#"> 2</a>
                            <a href="#"> 3</a>
                            <a href="#"> 4</a>
                            <a href="#"> 5</a>
                            <a href="#"> 6</a>
                            <a href="#"> 7</a>
                            <a href="#"> 8</a>
                            <a href="#"> 9</a>
                            <a href="#"> 10</a>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>






    <br />
    <br />
    <br />

</body>
